<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container">
    <br/>
    <h1 class='text-center'>Заявка подана!</h1>
    <br/>
    <h3 class='text-center'>В ближайшее время с Вами свяжется назначенный эксперт.</h3>
    <h3 class='text-center'>По всем вопросам Вы можете обратиться по адресу: zakl.nami@mail.ru</h3>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>