<div th:fragment="header">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
                <li class="nav-item"><a href="/lk" class="nav-link">Личный кабинет</a></li>
                <li class="nav-item"><a href="/price" class="nav-link">Стоимость услуг</a></li>
                <li class="nav-item" ><a href="/info" class="nav-link">Помощь</a></li>
            </ul>
                <div class="text-end">
                    <a href="/registration" class="ms-5 btn btn-success me-2" >Зарегестрироваться</a>
                    <a href="/logout" class="btn btn-danger me-2" >Выйти</a>
                </div>
        </header>
    </div>
</div>